name: Metrics

on:
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          user: kpriyars
          template: classic
          base: ""

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
